<h1>Email Form</h1>
<form action ="/email/email_send" method="post">
  Email: <input type = "text" name="email"><br>
  Title: <input type = "text" name="title"><br>
  Content: <textarea cols = "40" rows = "5" name = "content"></textarea>
  <input type ="submit" value="send">
</form>
