<h1>Email Form</h1>
<form action ="/email/email_send" method="get">
  Email: <input type = "text" name="email"><br>
  Content: <textarea name = "content"></textarea><br>
  <input type ="submit" value="send">
</form>
